<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weatherIcon.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Nikolay Raykov. It uses data from mapbox and darksy.net</p> 
        <img class="portrait" src="/img/logo.jpeg">
    </div>
    {{>footer}}
</body>

</html>